@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Fontes Normais */

@font-face {
    font-family: 'InterExtraLight';
    src: url(../fonts/woff-hinted/Inter-ExtraLight.woff2) format('woff2');
}

@font-face {
    font-family: 'InterLight';
    src: url(../fonts/woff-hinted/Inter-Light.woff2) format('woff2');
}

@font-face {
    font-family: 'InterRegular';
    src: url(../fonts/woff-hinted/Inter-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'InterMedium';
    src: url(../fonts/woff-hinted/Inter-Medium.woff2) format('woff2');
}

@font-face {
    font-family: 'InterSemiBold';
    src: url(../fonts/woff-hinted/Inter-SemiBold.woff2) format('woff2');
}

@font-face {
    font-family: 'InterBold';
    src: url(../fonts/woff-hinted/Inter-Bold.woff2) format('woff2');
}

/* Fontes Itálicas */

@font-face {
    font-family: 'InterThinItalic';
    src: url(../fonts/woff-hinted/Inter-ThinItalic.woff2) format('woff2');
}

@font-face {
    font-family: 'InterLightItalic';
    src: url(../fonts/woff-hinted/Inter-LightItalic.woff2) format('woff2');
}

@font-face {
    font-family: 'InterMediumItalic';
    src: url(../fonts/woff-hinted/Inter-MediumItalic.woff2) format('woff2');
}

@font-face {
    font-family: 'InterSemiBoldItalic';
    src: url(../fonts/woff-hinted/Inter-SemiBoldItalic.woff2) format('woff2');
}

:root {
    --primary-bg-color: #FFFFFF;
    --second-bg-color: #2F5C4F;
    --third-bg-color: #A5D6A7;
    --fourty-bg-color: #D9D9D9;
    --firty-bg-color: #FAFAF7;
    --header-bg-color: #EBE4E2;
    --bg-input-color: #FAFAF7;
    --primary-bg-card-color: #3B2E2A;
    --second-bg-card-color: #8D6E63;
    --bg-contact-card: #FFFFFF;

    --primary-title-color: #32A638;
    --second-title-color: #A5D6A7;
    --third-title-color: #263238;

    --circle-one: #68793F;
    --circle-two: #889F54;

    --primary-text-color: #263238;
    --second-text-color: #EBE4E2;

    --font-InterExtraLight: 'InterExtraLight', sans-serif;
    --font-InterLight: 'InterLight', sans-serif;
    --font-InterRegular: 'InterRegular', sans-serif;
    --font-InterMedium: 'InterMedium', sans-serif;
    --font-InterSemiBold: 'InterSemiBold', sans-serif;
    --font-InterBold: 'InterBold', sans-serif;
    --font-InterThinItalic: 'InterThinItalic', sans-serif;
    --font-InterLightItalic: 'InterLightItalic', sans-serif;
    --font-InterMediumItalic: 'InterMediumItalic', sans-serif;
    --font-InterSemiBoldItalic: 'InterSemiBoldItalic', sans-serif;
}

/* Estilos globais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

/* Titulo Conecta Agro */

.titulo-conecta {
    color: var(--primary-title-color);
}

.titulo-agro {
    color: var(--second-title-color);
}

/* Section Inicial */

#initial {
    width: 100%;
    height: 283px;
    background-color: var(--second-bg-color);
    position: relative;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#title {
    z-index: 10;
    padding: 0px 40px 0px 40px;
}

.img-initial {
    border-radius: 999px 0px 0px 999px;
}

.div-img-initial {
    background-image: url(../assets/sectionInitial/fotoCampos.png);
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 999px 0px 0px 999px;
}

/* Section Quem Somos  */

.text-titulo {
    padding: 50px 20px 50px 50px;
}

#txt-quem,
#txt-somos {
    position: relative;
    color: var(--third-title-color);
}

#txt-quem::after {
    content: "Quem";
    position: absolute;
    left: 4px;
    z-index: -1;
    color: transparent;
    font-size: clamp(64px, 9vw, 99px);

    -webkit-text-stroke: 2px var(--third-title-color);
    font-style: italic;
    white-space: nowrap;
}

#txt-somos::after {
    content: "Somos?";
    position: absolute;
    left: 4px;
    z-index: -1;
    color: transparent;
    font-size: clamp(64px, 9vw, 99px);

    -webkit-text-stroke: 2px var(--third-title-color);
    font-style: italic;
    white-space: nowrap;
}

#quem-somos {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#div-imagens-quem-somos {
    position: relative;
    padding: 50px 50px 50px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ft-secundaria-one {
    position: absolute;
    right: 0px;
    top: 19%;
}

#ft-secundaria-two {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: -1;
}

/* Section Nosso Propósito */

#nosso-proposito {
    background-color: var(--second-bg-color);
    width: 100%;
    padding: 80px 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    clip-path: ellipse(115% 100% at 50% 0%);
}

#txt-nosso,
#txt-proposito {
    position: relative;
    color: var(--second-title-color);
    text-align: center;
    display: inline-block;
}

#txt-nosso::after {
    content: "Nosso";
    position: absolute;
    left: 4px;
    z-index: -1;
    color: transparent;
    font-size: clamp(64px, 9vw, 99px);

    -webkit-text-stroke: 2px var(--second-title-color);
    font-style: italic;
    white-space: nowrap;
}

#txt-proposito::after {
    content: "Proposito";
    position: absolute;
    left: 4px;
    z-index: -1;
    color: transparent;
    font-size: clamp(64px, 9vw, 99px);
    text-align: center;

    -webkit-text-stroke: 2px var(--second-title-color);
    font-style: italic;
    white-space: nowrap;
}

.paragrafo-nosso-proposito {
    color: var(--second-text-color);
    text-align: center;
}

/* Section Público Alvo */

#txt-publico::after {
    content: "Publico";
    position: absolute;
    right: 46px;
    z-index: -1;
    color: transparent;
    font-size: clamp(64px, 9vw, 99px);
    text-align: center;

    -webkit-text-stroke: 2px var(--third-title-color);
    font-style: italic;
    white-space: nowrap;
}

#txt-alvo::after {
    content: "Alvo";
    position: absolute;
    right: 46px;
    z-index: -1;
    color: transparent;
    font-size: clamp(64px, 9vw, 99px);
    text-align: center;

    -webkit-text-stroke: 2px var(--third-title-color);
    font-style: italic;
    white-space: nowrap;
}

#title-publico-alvo,
#div-p-publico-alvo {
    padding: 50px;
}

#publico-alvo {
    text-align: end;
}

#imgs-publico-alvo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Section Benefícios */

#beneficios {
    padding: 50px;
}

#txt-beneficios {
    position: relative;
    color: var(--third-title-color);
}

#txt-beneficios::after {
    content: "Beneficios";
    position: absolute;
    left: 4px;
    z-index: -1;
    color: transparent;
    font-size: clamp(54px, 9vw, 99px);

    -webkit-text-stroke: 2px var(--third-title-color);
    font-style: italic;
    white-space: nowrap;
}


#dad-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 40px 0px;
}

.card-personalizado {
    width: 100%;
    height: 400px;
    border-radius: 30px;
}

.card1 {
    height: 100%;
    background-color: var(--primary-bg-card-color);
    border-radius: 30px;
    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;


    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.433);
}

.card2 {
    height: 100%;
    background-color: var(--second-bg-card-color);
    border-radius: 30px;
    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.433);
}

.titulo-card{
    color: var(--second-title-color);
    font-weight: bold;
}

.paragrafo-card{
    color: var(--second-text-color);
}

#link-video-pitch{
    text-decoration: none;
    color: white;
    padding: 20px;
    background-color: var(--second-bg-color);
    border-radius: 25px;
    transition: 0.4s;
}
#link-video-pitch:hover{
    background-color: var(--third-bg-color);
    color: black;
    transition: 0.4s;
}

@media(max-width: 576px) {

    /* Section Inicial  */

    #initial {
        display: block;
        height: 50%;
    }

    #title {
        text-align: center;
        padding: 40px 0px 40px 0px;
    }

    .div-img-initial {
        border-radius: 20px 20px 0px 0px;
        width: 100%;
        height: 205px;
    }

    /* Section Quem Somos  */

    #div-imagens-quem-somos,
    .text-titulo,
    #title-publico-alvo,
    #div-p-publico-alvo,
    #beneficios {
        padding: 20px;
    }

    /* Section Publico Alvo */

    #txt-publico::after {
        right: 16px;
    }

    #txt-alvo::after {
        right: 16px;
    }

    /* Section Beneficios */

    #dad-card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-personalizado {
        width: 75%;

    }
}
@media (max-width: 768px) {
    #quem-somos {
        display: block;
    }
}

@media (max-width: 1200px) and (min-width: 577px) {
    #dad-card {
        display: grid;
        grid-template-columns: 2fr 2fr;
    }
}